<ng-container *ngIf="(asyncTabs | async) === null">
  Loading tabs...
</ng-container>
<nav mat-tab-nav-bar>
  <a mat-tab-link
  *ngFor="let link of navLinks"
  [routerLink]="link.link"
  routerLinkActive #rla="routerLinkActive"
  [active]="rla.isActive">
 {{link.label}}
</a>
</nav>
<p>
  Product List
</p>
<section>
  <button mat-raised-button color="accent" (click)="getHerokuData()">Check for Available Product URL's</button>
</section>
<section class="example-section" *ngIf="showProgressBar">
  <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue">
  </mat-progress-bar>
</section>
<section>
  <ol>
    <li *ngFor="let product of products">
      {{product.request}}
      <a class="makeItLookLikeLink" (click)="getProductDetails(product.url)">{{product.url}}</a>
    </li>
  </ol>
</section>
<section *ngIf="product">
  <h2>Clicked Product's details are below</h2>
  <ul>
    <li>
      Id: {{product._id}}
    </li>
    <li>
      Name: {{product.name}}
    </li>
    <li>
      Price: {{product.price}}
    </li>
  </ul>
  <button mat-raised-button color="accent" (click)="delete(product._id)">Delete</button>
</section>
